.svg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    background-color: #0008C1;
    position: absolute;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    margin-top: 3px;
}
.svg  svg{
    width: 23px;
    height: 24px;
    color: #FFFFFF;

}